<mat-card class="container">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <!-- <mat-card-title class="title">QR Code</mat-card-title> -->
    </mat-card-header>
    <img  class="mat-card-image" src="assets/QRcode.png" alt="">

    <mat-card-content class="matcontent" >
      <h3 class="footer">
        Improve your Frontend skills by building projects
    
      </h3>
      <h6 class="secondfooter">
        Scan the QR Code to visit Frontend mentor 
                    and 
         take your coding skills to next level
      </h6>

    </mat-card-content>
</mat-card>


>